@import "../../../../styles/mixins";
@include form_title;

$yellow: #FFCD36;
$dark_gray: #1D1D1D;

.contacts_form {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__wrapper > h3 {
        text-align: center;
        max-width: 353px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__input {
        height: 50px;
        width: 353px;
        border-radius: 10px;
        border: 3px solid $dark_gray;
        background: #FFFFFF;
        color: $dark_gray;
        font-family: "Dela Gothic One";
        font-size: 14px;
        font-weight: 400;
        padding-left: 17px;
        margin-bottom: 20px;
    }

    &__submit {
        border-radius: 60px;
        background: $dark_gray;
        padding: 13px 50px 14px;
        color: $yellow;
        font-family: "Dela Gothic One";
        font-size: 16px;
        max-width: 275px;
        cursor: pointer;
    }
}