$dark_gray: #1D1D1D;
$gray: #7D7D7D;

.header {
    &__menu {
        display: flex;
        align-items: center;
    }

    &__menu_item {
        list-style-type: none;
        margin-right: 60px;
    }

    &__menu_item:nth-last-child(1) {
        margin-right: 0;
    }

    &__link {
        position: relative;
        text-decoration: none;
        color: $dark_gray;
        font-family: "Dela Gothic One";
        font-size: 16px;
        transition: all .3s linear;
    }
}

.header__link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $dark_gray;
    transition: all .3s ease;
}

.header__link:hover::after {
    width: 100%;
    margin-left: 16px;
}

.header__link:disabled {
    color: $gray;
    cursor: default;
}

.header__link:active::after {
    margin-left: 0;
}