@mixin section_title {
    .section_title {
        font-family: "Oi";
        font-size: 48px;
        letter-spacing: 1px;
        color: #1d1d1d;
        font-weight: 400;
        -webkit-text-fill-color: #FFCD36;
        -webkit-text-stroke-width: 2px;
        margin-bottom: 20px;
    }
}

@mixin main_text {
    .main_text {
        color: #1D1D1D;
        font-family: "Cormorant Garamond";
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
    }
}

@mixin form_title {
    .form_title {
        color: #1D1D1D;
        font-family: "Oi";
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 2.4px;
        margin-bottom: 20px;
    }
}

@mixin form_input {
    .form_input {
        height: 50px;
        border-radius: 10px;
        border: 3px solid #1D1D1D;
        background: #FFFFFF;
        color: #1D1D1D;
        font-family: "Dela Gothic One";
        font-size: 14px;
        font-weight: 400;
        padding-left: 17px;
        margin-bottom: 20px;
    }
}

@mixin form_submit {
    .form_submit {
        border-radius: 60px;
        padding: 13px 50px 14px;
        font-family: "Dela Gothic One";
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
    }
}