@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
	min-height: 100vh;
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}