@import "../../../styles/mixins";
@include form_title;
@include form_input;
@include form_submit;

$yellow: #FFCD36;
$dark_gray: #1D1D1D;

.order_form {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        width: 86%;
    }

    &__wrapper > h3 {
        text-align: center;
        width: 37%;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form > input[type="text"] {
        width: 400px;
    }

    &__form > input[type="tel"] {
        width: 400px;
    }

    &__form > input[type="submit"] {
        border: 3px solid $dark_gray;
        background: $yellow;
        color: $dark_gray;
        max-width: 275px;
    }
}