$lemon_yellow: #FFED4B;
$yellow: #FFCD36;
$orange: #FFA336;
$dark_gray: #1D1D1D;
$gray: #7D7D7D;
$light_gray: #F2F2F2;

.call_button {
    border: none;
    border-radius: 60px;
    background: $dark_gray;
    padding: 13px 50px 14px;
    color: $yellow;
    font-family: "Dela Gothic One";
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: all .3s linear;
}

.call_button:hover {
    color: $orange;
}

.call_button:disabled {
    background: $gray;
    color: $light_gray;
    cursor: default;
}

.call_button:enabled:active {
    color: $lemon_yellow;
}