$dark_gray: #1D1D1D;
$gray: #7D7D7D;

@keyframes gradientFade {
    from {
        background-color: rgba(255, 205, 54, 0.80);
    }
    to {
        background-color: rgba(255, 205, 54, 0.00);
    }
}

.catalog_menu {
    &__wrapper {
        margin: 40px 0 10px 0;
    }

    &__categories {
        display: flex;
        align-items: center;
    }

    &__category {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        margin: 0 30px;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        text-decoration: none;
        color: $dark_gray;
        font-family: "Dela Gothic One";
        font-size: 16px;
        font-weight: 400;
        transition: all .3s linear;
    }

    &__icon {
        margin-bottom: 14px;
        max-width: 114px;
    }
}

.catalog_menu__link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $dark_gray;
    transition: all .3s ease;
}

.catalog_menu__link:hover::after {
    width: 100%;
    margin-left: 16px;
}

.catalog_menu__link:hover .catalog_menu__icon {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 205, 54, 0.80) 0%, rgba(255, 205, 54, 0.00) 100%);
}

.catalog_menu__link:disabled {
    color: $gray;
    cursor: default;
}

.catalog_menu__link:active::after {
    margin-left: 0;
}

.catalog_menu__link:active .catalog_menu__icon {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 237, 75, 0.80) 0%, rgba(255, 205, 54, 0.00) 100%);
}