$dark_gray: #1D1D1D;
$orange: #FFA236;
$yellow: #FFED4B;
$gray: #7D7D7D;

.catalog_slaider {
    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__mainbox {
        width: 1165px;
        height: 610px;
        overflow: hidden;
        background-image: url('../../../../assets/images/slaider_background.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    &__line {
        width: 2330px;
        height: 491px;
        display: flex;
        position: relative;
        left: 0;
        transition: all ease 1s;
        padding: 60px 0 59px;
    }

    &__buttons {
        cursor: pointer;
    }

    &__next {
        fill: none;
        stroke-width: 4;
        stroke: $dark_gray;
        stroke-linecap: round;
        transition: all .3s linear;
    }
}

.catalog_slaider__next:hover {
    stroke: $orange;
}

.catalog_slaider__next:active {
    stroke: $yellow;
}

.catalog_slaider__next:disabled {
    stroke: $gray;
}