$lemon_yellow: #FFED4B;
$yellow: #FFCD36;
$orange: #FFA336;
$dark_gray: #1D1D1D;
$gray: #7D7D7D;
$light_gray: #F2F2F2;

.more_button {
    border-radius: 60px;
    border: 3px solid $dark_gray;
    background: $yellow;
    padding: 13px 78px 14px 77px;
    color: $dark_gray;
    font-family: "Dela Gothic One";
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s linear;
}

.more_button:hover {
    background: $orange;
}

.more_button:disabled {
    background: $gray;
    color: $light_gray;
    cursor: default;
}

.more_button:active {
    background: $lemon_yellow;
}